<!DOCTYPE html>
<html lang="en">
<head>
  <title>T$hirt</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head>
<style>
h1{
  font-style: italic;
  font-family: verdana;
  font-size: 300%;
} 
h2{
  font-family: verdana;
  font-size: 200%;
} 
p{
  font-family: verdana;
  font-size: 100%;

} 
a:hover;{
  background-color: gray;
}

</style>

<body style="background: linear-gradient( LightGray , DimGray);">

<div style="text-align:center" class="container-fluid">
  <h1 style="color: black">T$hirt</h1>
  <h2 style="color: black">Dress like you're famous</h2>
  <p style="color: DimGray">Find the best affortable alternatives to your favorite celebrity's shirt using the most advanced machine learning and neural networking technology. T$hirt is where fashion meets technology.</p>
 
  <div class="row">
    <div class="col-sm-4">
    <a href="{{ url_for('celebrity', name = names[0]) }}"> <img src={{paths[0]}} class="img-responsive" style="height: 555px"></a>
    </div>

    <div class="col-sm-4">
    <a href="{{ url_for('celebrity', name = names[1]) }}"><img src={{paths[1]}} class="img-responsive" style="height: 555px"></a>
    </div>
    <div class="col-sm-4">
    <a href="{{ url_for('celebrity', name = names[2]) }}"><img src= {{paths[2]}} class="img-responsive" style="height: 555px"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
    <a href="{{ url_for('celebrity', name = names[3]) }}"><img src={{paths[3]}}  class="img-responsive" style="height: 555px"></a>
    </div>
    <div class="col-sm-4">
    <a href="{{ url_for('celebrity', name = names[4]) }}"><img src={{paths[4]}}  class="img-responsive" style="height: 555px"></a>
    </div>
    <div class="col-sm-4">
    <a href="{{ url_for('celebrity', name = names[5]) }}"><img src={{paths[5]}}  class="img-responsive" style="height: 555px"></a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
    <a href="{{ url_for('celebrity', name = names[6]) }}"><img src={{paths[6]}}  class="img-responsive" style="height: 555px"></a>
    </div>
    <div class="col-sm-4">
    <a href="{{ url_for('celebrity', name = names[7]) }}"><img src={{paths[7]}}  class="img-responsive" style="height: 555px"></a> </div>
    <div class="col-sm-4"><a href="{{ url_for('celebrity', name = names[8]) }}"><img src={{paths[8]}} class="img-responsive" style="height: 555px"><</a></div>
  </div>
</div>
    
</body>
</html>
