<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="background-color: DimGrey;">

<div class="container-fluid">
  <h1>{{name}}</h1>
  <div class="row">
  {%for m in matches%}
    <div class="col-sm-3">
      <img src=".{{m.img_path}}" class="img-responsive" style="height: 555px"></a>
    </div>
  {%- endfor %}
  </div>
</div>
    
</body>
</html>