<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
h1{
  font-style: italic;
  font-family: verdana;
  font-size: 300%;
} 
    h2{
      color: DimGray;
      font-family: verdana;
      font-size: 200%;
    }
    img-responsive:hover;> .overlay {
    background-color: gray;
    opacity:0.5;
  }
  </style>
</head>
<body style="background-color: LightGrey;">

<div  style="text-align:center"  class="container-fluid">
  <h1 style="color: black">T$hirt</h1>
  <h2>{{name}}</h2>
  <div class="row">
    <div class="col-sm-4">
      <img src="../static/bp.jpg" class="img-responsive" style="height: 555px">
    </div>
    <div class="col-sm-4">
      <img src="../static/bp2.jpg" class="img-responsive" style="height: 555px">
    </div>
    <div class="col-sm-4">
      <img src="../static/bp3.jpg" class="img-responsive" style="height: 555px">
    </div>
  </div>
</div>
    
</body>
</html>